<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.solutionsjs.luastation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LuaStation">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5077201752951070~3776329957" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="br.solutionsjs.luastation.activities.HomeActivity"
            android:exported="true" />

        <activity
            android:name="br.solutionsjs.luastation.activities.login.LoginActivity"
            android:exported="true" />

        <activity
            android:name="br.solutionsjs.luastation.activities.registration.AccountTypeActivity"
            android:exported="true" />

        <activity
            android:name="br.solutionsjs.luastation.activities.registration.CompanyRegistrationActivity"
            android:exported="true" />

        <activity
            android:name="br.solutionsjs.luastation.activities.registration.AccountValidationActivity"
            android:exported="true" />

        <activity
            android:name="br.solutionsjs.luastation.activities.menu.MenuActivity"
            android:exported="true" />

        <activity
            android:name="br.solutionsjs.luastation.activities.menu.SecurityActivity"
            android:exported="true" />

        <activity
            android:name="br.solutionsjs.luastation.activities.menu.CreateProjectFirstStepActivity"
            android:exported="true" />

        <activity
            android:name="br.solutionsjs.luastation.activities.menu.CreateProjectSecondStepActivity"
            android:exported="true" />

        <activity
            android:name="br.solutionsjs.luastation.activities.menu.ProjectPaymentActivity"
            android:exported="true" />

        <activity
            android:name="br.solutionsjs.luastation.activities.menu.ProjectPublishedActivity"
            android:exported="true" />

        <activity
            android:name="br.solutionsjs.luastation.activities.ServiceDetailsActivity"
            android:exported="true" />

        <activity
            android:name="br.solutionsjs.luastation.activities.CompanyProfileActivity"
            android:exported="true" />

        <activity
            android:name="br.solutionsjs.luastation.activities.AccountRegistrationErrorActivity"
            android:exported="true" />

        <activity
            android:name="br.solutionsjs.luastation.activities.ApplyProjectActivity"
            android:exported="true" />

        <activity
            android:name="br.solutionsjs.luastation.activities.NotificationDetailsActivity"
            android:exported="true" />

        <activity
            android:name="br.solutionsjs.luastation.activities.FreelancerProfileActivity"
            android:exported="true" />

        <activity
            android:name="br.solutionsjs.luastation.activities.registration.FreelancerRegistrationActivity"
            android:exported="true" />

        <activity
            android:name="br.solutionsjs.luastation.activities.TeamActivity"
            android:exported="true" />

        <activity
            android:name="br.solutionsjs.luastation.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>